<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key><string>DEPL</string>
    <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>1.0</string>
    <key>CFBundleVersion</key><string>1</string>
    <key>LSRequiresIPhoneOS</key><true/>
    <key>UILaunchScreen</key><dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array><string>UIInterfaceOrientationPortrait</string></array>
    <key>NSCameraUsageDescription</key>
    <string>업무 시스템의 기기 등록 QR 코드를 촬영하기 위해 카메라를 사용합니다.</string>
    <key>UIBackgroundModes</key>
    <array><string>remote-notification</string></array>
    <key>FIREBASE_PROJECT_ID</key><string>depl-162ae</string>
    <key>FirebaseMessagingInstallationIdEnabled</key><true/>
    <key>ENROLLMENT_PUBLIC_KEY_X963_BASE64</key>
    <string>BN+fQ79z6YHt8gnWI5hlXvwKO9O5jzyFm0YYbsqvQZbywsV9vkO3RE1GG+uFbW5BTHIRsMI8LMk4hem4sv7p0BM=</string>
</dict>
</plist>
